@charset "UTF-8";

.formcontainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items:  center;
    justify-content: center;

    form {
        width: 24rem;
        height: 16rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;

        button {
            flex: 1;
            background: var(--color-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 0;

            span {
                color: var(--color-ternary);
                font-size: 1rem;
                font-weight: 600;
            }

            &:hover {
               filter: brightness(.8); 
            }
        }

        input, select, button {
            border: 0;
            height: 2.5rem;
            outline-color: var(--color-primary);
            color: var(--texts-dark);
            border-radius: 8px;
        }

        select, input:first-child {
            width: 18rem;
        }

        input:first-child {
            padding-left: 1rem;
        }

        input:not(:first-child) {
            width: 4rem;
            text-align: center;
        }
    }
}