/*Dropdown Menu*/
.navBar  {
    width: 425px;

    padding: .5rem;
    align-items: center;
}

.navBar ul {
    display: flex;
    justify-content: space-between;
}

.navBar > ul li a {
    text-decoration: none;
    color: var(--half-white);
}

.navBar > ul li a:hover {
    border-bottom: 2px solid var(--half-white);
    opacity: .8;
    transition: .2s;
}

.navBar ul li {
    list-style: none;
    text-transform: uppercase;

    font-weight: 500;

    font-size: 2rem;
}

/*Dropdown Menu*/
.dropdownMenu {
    position: absolute;
    width: 100%;
    height: 25vh;

    top: 0;
    left: 0;

    background: var(--half-white);

    z-index: 50;

    border-radius: 0 0 50% 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: .2s;
}

.dropdownMenu ul {
    display: flex;
    flex-direction: column;
    gap: .65rem;

    text-align: center;
}

.dropdownMenu > ul li a {
    text-decoration: none;
    color: var(--half-black);
}

.dropdownMenu > ul li a:hover {
    border-bottom: 2px solid var(--half-black);
    opacity: .8;
    transition: .2s;
}

.dropdownMenu ul li {
    list-style: none;
    text-transform: uppercase;

    font-weight: 500;

    font-size: 2rem;
}

.burger {
    position: absolute;
    top: 1.25rem;
    right: 2rem;

    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    z-index: 999;
}

.burger div {
    background: var(--half-white);

    width: 100%;
    height: 8px;

    border-radius: 6px;
}

.burger > .rectTop.clicked {
    transform: rotate(45deg) translate(1px, 12px);
    background: var(--half-black);
}
.burger > .rectMid.clicked {
    display: none;
}
.burger > .rectBot.clicked {
    transform: rotate(-45deg) translate(-2px,-8px);
    background: var(--half-black);
}

@media(min-width: 801px) {
    .burger {
        display: none;
    }

    .dropdownMenu {
        display: none;
    }
}

@media (max-width: 800px) {
    .navBar {
        display: none;
    }
}