.sectionContainer {
    display: flex;
    flex-direction: row;

    height: 20.3125rem;
    width: 18.75rem;

    background: var(--half-black);
    border-radius: 10px;
    position: relative;

    overflow-y: scroll;
}

.heading {
    display: flex;

    align-items: center;
    justify-content: center;

    opacity: .68;

    position: absolute;

    margin: -1.75rem 6rem;
}

.heading img {
    height: 25px;
    width: 25x;

    padding: 0;
}

.heading h1 {
    text-transform: capitalize;
    font-size: .85rem;
}

.sectionContainer table {
    margin: 2rem auto 0;
    overflow-x: scroll;
}

.sectionContainer table thead tr td,
.sectionContainer table tbpdy tr td {
    padding: 0 5px;
}

.sectionContainer table thead tr td {
    font-weight: 600;
    font-size: .88rem;
}

.sectionContainer table tbody tr td {
    font-weight: 400;
    font-size: .88rem;
}

.sectionContainer table tbody tr {
    opacity: .78;
}

.sectionContainer table tbody tr:hover {
    opacity: 1;
}

.body {
    overflow-y: scroll;
}

@media (max-width: 1024px) {
    .sectionContainer {
        flex-direction: column;
        height: 60vh;
        width: 60%;
    }
}

@media(max-width: 800px) {
    .sectionContainer {
        height: 30rem;
        width: 21rem;
    }
}