@charset "UTF-8";

.aboutContainer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--texts-dark);
    padding: 3rem 4rem  0;

    h1 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 8px;
        margin-top: -15rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 8px;
        text-align: justify;
        text-indent: 4vw;
    }

    @media(max-width: 800px) {
        padding: 3rem 1rem  0;
    }
}