@charset "UTF-8";

.contact_container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 8vh;
    transition: all .2s ease;

    h1 {
        font-size: 3rem;
        font-weight: 500;
    }

    div {
        flex: 1;
        display: grid;
        grid-template-areas: "tl tm tr trr" "bl bm br .";
        gap: 2rem;

        svg {
            font-size: 8rem;
            color: var(--texts-light);

            &:hover {
                filter: sepia(4) hue-rotate(190deg) saturate(100) brightness(.9);
            }
        }

        img {
            height: 8rem;

            &:hover {
                filter: sepia(4) hue-rotate(190deg) saturate(100) brightness(.9);
            }
        }

        @media(max-width: 800px)  {
            grid-template-areas: "tl tm" "tr trr" "bl bm" "br .";
        }
    }

    @media(max-width: 800px) {
        padding-top: 4vh;
    }
}
