.login {
	width: 100%;
	height: 100%;
	display: flex;

	button:hover{
		filter: brightness(.8);
	}

	main {
		flex: 0.35;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 3rem;

			width: 100%;
			height: 100%;

			.googlebutton {
				height: 2.5rem;
				width: 12rem;
				background: var(--color-secondary);
				border: 0;
				border-radius: 8px;
				display: flex;
				align-items: center;
				justify-content: space-evenly;

				span {
					color: var(--color-ternary);
					font-weight: 600;
				}

				img {
					filter: invert(100%);
				}

				@media(max-width:1024px) {
					height: 3rem;
					width: 15rem;
				}
			}
		}

		&::after {
			content: "";
			font-size: 0;
			height: 85%;
			width: 1px;
			background: var(--texts-light);
		}


		small {
			font-size: 14px;
			color: var(--texts-dark);

			button {
				background: var(--transparent);
				border: 0;
				font-size: 14px;
				color: var(--texts-dark);
				cursor: pointer;
				text-decoration: underline;

				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}

	aside {
		height: 100%;
		flex: 0.65;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


	@media (max-width: 1024px) {
		main {
			flex: 1;

			&::after {
				height: 0;
				width: 0;
			}
		}

		aside {
			display: none;
		}
	}
}

.form {
	width: 98%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.65rem;

	.button, input {
		height: 2.5rem;
		width: 12rem;
	}

	input {
		border: 0;
		outline-color: var(--color-primary);
		outline-width: 2px;
		padding: 0 1rem;
		border-radius: 8px;
		color: var(--background-light);
		font-weight: 500;
		background: rgba(0,0,0,.2);
	}

	.button {
		background: var(--color-primary);
		border: 0;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		span {
			color: var(--color-ternary);
			font-weight: 600;
		}

	}

	@media(max-width:1024px) {
		gap: 1rem;
		.button, input {
			height: 3rem;
			width: 15rem;
		}
	}
}

.divider {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--texts-dark);
	font-weight: 600;
	font-size: 1.15rem;
	text-transform: uppercase;

	&::after {
		content: "";
		font-size: 0;
		height: 1px;
		flex: 1;
		background: var(--texts-dark);
	}
	
	&::before {
		content: "";
		font-size: 0;
		height: 1px;
		flex: 1;
		background: var(--texts-dark);
	}
}
