@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Red Hat Text', monospace;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  html, body {
    overflow-y: scroll;
  }
}
