.container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.container hr {
    background: var(--half-white);
    height: 1px;
    width: 85%;

    margin: 0 auto;
}

.container header {
    padding: 0 5.5rem;
    display: flex;

    justify-content: space-between;
}

.container header > img {
    height: 75px;
    width: 75px;
}

.main {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;

    width: 100%;
    height: 82vh;

    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    overflow-y: scroll;
}

.addButton {
    position: fixed;

    height: 50px;
    width: 50px;

    top: 75vh;
    left: 82vw;

    opacity: .65;
}

.addButton:hover {
    opacity: 1;
}

.footer {
    height: 100%;
    position: relative;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        overflow-y: scroll;
        gap: .5rem;
    }

    .addButton {
        top: 75vh;
        left: 80vw;
    }
}

@media (max-width: 800px) {
    .container header {
        padding: .05rem 1.5rem;
    }

}