.container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.container hr {
    background: var(--half-white);
    height: 1px;
    width: 85%;

    margin: 0 auto;
}

.container header {
    padding: 0 5.5rem;
    display: flex;

    justify-content: space-between;
}

.container header > img {
    height: 75px;
    width: 75px;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;

    padding: 3rem 0;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.addButton {
    position: fixed;

    height: 50px;
    width: 50px;

    top: 26rem;
    left: 72rem;

    opacity: .65;
}

.addButton:hover {
    opacity: 1;
}

.footer {
    height: 100%;
    position: relative;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .container {
        overflow-y: scroll;
    }
    .main {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .container header {
        padding: .05rem 1.5rem;
    }

    .addButton {
        top: 44rem;
        left: 21rem;
    }

}