@charset "UTF-8";

.homeContainer {
    height: 100%;
    width: 100%;

    background: var(--color-primary);
}

.redirect {
    height: 2.5rem;
    width: 12rem;
    background: var(--color-primary);
    border: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    span {
        color: var(--color-ternary);
        font-weight: 600;
    }
}