@charset "UTF-8";

.header {
    width : 100vw;
    height: 10vh;
    color: var(--background-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.75rem;

    svg {
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }

    @media(max-width:800px) {
        padding: 0 1.5rem;
        height: 8vh;

        svg {
            font-size: 2rem;
        }
    }
}

.menu {
    display: flex;
    gap: 1rem;

    button {
        color: var(--background-light);
        font-weight: 600;
        font-size: 1rem;
    }
}