@charset "UTF-8";

:root {
    --white: #fff;
    --half-black: rgba(0,0,0,.68);
    --softBlue: #32C5FF;
    --softGray: #979797;
}

h2, p {
    margin: .5rem 2.25rem auto;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 75%;

    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}

.content h1 {
    font-weight: 500;
    font-size: 1.875rem;
    margin-top: 1rem;
    text-align: center;
}

.content h2 {
    font-size: 1.35rem;
    font-weight: 500;
}

.content p {
    font-size: 1.125rem;

    font-weight: 100;
}

.content h3 {
    font-size: .95rem;
    text-align: center;
    margin-top: .65rem;
    font-weight: 500;
}