@charset "UTF-8";

:root {
    --white: #fff;
    --half-black: rgba(0,0,0,.68);
    --colorPrimary: #008577;
    --colorPrimaryDark: #00574B;
    --colorAccent: #D81B60;
    --graphite: #6D7278;
    --softGray: #979797;
    --boldBlue: #3296FF;
    --softBlue: #32C5FF;
    --reallySoftGray: #f0f2f5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 1.25rem;
}

body {
    font-family: 'Red Hat Text', monospace;
    font-size: .75rem;
    color: var(--white);
    background: linear-gradient(239.54deg, var(--softBlue) 0%, var(--softGray) 100%);
    opacity: .68;
    font-weight: 500;

    height: 100vh;
    width: 100vw;
}

hr {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    transition: hover .5s ease;
}

a:hover {
    color: var(--half-black);
    border-bottom: .125em solid var(--half-black);
}

.nav-bar {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    padding: .15rem;

    height: 10%;
    width: 99%;
}

.logo {
    height: 3rem;
    width: 3rem;

    margin-left: 2.5rem;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 20rem;
    margin-right: 1rem;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 80%;
    width: 94.5%;

    margin: auto;
}

.section {
    display: grid;
    justify-items: center;
    height: 65vh;
    width: 27vw;
    margin: auto;
    background: var(--half-black);
    border-radius: .625rem;

    overflow-x: scroll;
}

.headings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-top: 1rem;
    padding: 0;

    width: max-content;
    height: max-content;
}

.headings img {
    height: 4.5rem;
    width: 4.5rem;
}

.headings p {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

table {
    margin-top: -6rem;
    max-height: 65vh;
    max-width: 100%;

    overflow-y: scroll;
}

table thead {
    font-weight: 500;
}

table tbody {
    font-weight: 400;
}

.section table thead tr td {
    font-size: 1.05rem;
}

.section table tbody tr td {
    font-size: .95rem;
}

.section table thead tr td,
.section table tbody tr td {
    text-align: left;
    padding: 0 .25rem;
}

.title {
    font-size: 1.015em;
    text-align: left;
}

.product, .quantity, .expiration {
    font-size: .78em;
    text-align: center;
}

hr:last-of-type {
    bottom: 0;
}

.foot {
    display: flex;
    margin: auto;
    padding: .25rem 0;
    height: 10%;
    width: 98%;
}

.foot p {
    align-self: center;
    text-align: center;
    margin: .56rem auto;
}

@media(max-width: 25.875rem) {
    /*cover smarthone*/
    hr {
        display: none;
    }
    .nav-bar {
        border-bottom: 1px solid var(--white);
    }
    .nav-bar .menu {
        display: none;
    }
    .content {
        max-height: 80%;
        width: 100%;
        display: inline-block;
        flex-direction: column;
        overflow-y: scroll;
    }
    .content .section {
        height: 23.5rem;
        width: 80%;

        margin: 1rem auto;

        overflow-x: scroll;

        transition: scroll .2s linear;
    }
    .content .section .headings .logo {
        height: 27px;
        width: 27px;
    }
    .content .section table tbody tr td {
        font-size: .7rem;
        text-align: left;
        padding: 0 6px;
    }
    .content .section table thead tr td {
        font-size: .85rem;
        text-align: left;
        padding: 0 6px;
        overflow-x: hidden;
    }
    .foot {
        border-top: 1px solid var(--white);
    }
}
@media(min-width:25.9375rem) and (max-width:64rem) {
    /*cover tablets*/
    hr {
        display: none;
    }
    .nav-bar {
        border-bottom: 1px solid var(--white);
    }
    .nav-bar .menu {
        display: none;
    }
    .nav-bar .logo {
        margin-left: 1.15rem;
    }
    .content {
        max-height: 80%;
        width: 100%;
        display: inline-block;
        flex-direction: column;
        overflow-y: scroll;
    }
    .content .section {
        height: 23.5rem;
        width: 80%;

        margin: 0 auto 3rem;
        
        overflow-x: scroll;

        transition: scroll .2s linear;
    }
    .content .section .headings .logo {
        height: 27px;
        width: 27px;
    }
    .content .section table tbody tr td {
        font-size: 1.2rem;
        text-align: left;
        padding: 0 6px;
    }
    .content .section table thead tr td {
        font-size: 1.5rem;
        text-align: left;
        padding: 0 6px;
    }
    .foot {
        border-top: 1px solid var(--white);
    }
}
/*@media(min-width:64.0625rem) {
    cover mostly everything else
}*/