@charset "UTF-8";

:root {
    --white: #fff;
    --half-black: rgba(0,0,0,.68);
    --colorPrimary: #008577;
    --colorPrimaryDark: #00574B;
    --colorAccent: #D81B60;
    --graphite: #6D7278;
    --softGray: #979797;
    --boldBlue: #3296FF;
    --softBlue: #32C5FF;
    --reallySoftGray: #f0f2f5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 1.25rem;
}

body {
    font-family: 'Red Hat Text', monospace;
    font-size: .75rem;
    color: var(--white);
    background: linear-gradient(239.54deg, var(--softBlue) 0%, var(--softGray) 100%);
    opacity: .68;
    font-weight: 500;

    height: 100vh;
    width: 100vw;
}

hr {
    width: 95%;
    margin: auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    transition: hover .5s ease;
}

a:hover {
    color: var(--half-black);
    border-bottom: .125em solid var(--half-black);
}

.nav-bar {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding: .15rem 2.8rem;

    height: 10%;
}

.logo {
    height: 3rem;
    width: 3rem;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 20rem;
    margin-right: .3rem;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 80%;
    width: 94.5%;

    margin: auto;
}

.section {
    display: grid;
    justify-items: center;
    height: 65vh;
    width: 27vw;
    margin: auto;
    background: var(--half-black);
    border-radius: .625rem;
}

.headings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-top: 1rem;
    padding: 0;

    width: max-content;
    height: max-content;
}

.headings img {
    height: 4.5rem;
    width: 4.5rem;
}

.headings p {
    font-size: 1em;
    font-weight: 700;
}

table {
    margin-top: -6rem;
    max-height: 65vh;
    max-width: 100%;

    overflow-y: hidden;
}

table thead {
    font-weight: 500;
}

table tbody {
    font-weight: 400;
}

.title {
    font-size: 1.015em;
    text-align: left;
}

.product, .quantity, .expiration {
    font-size: .78em;
    text-align: center;
}

hr:last-of-type {
    bottom: 0;
}

.foot {
    display: flex;
    margin: auto;
    padding: .25rem 0;
    height: 10%;
    width: 100%;
}

.foot p {
    align-self: center;
    text-align: center;
    margin: .56rem auto;
}

@media(max-width: 43.875rem) {
    .nav-bar  {
        height: 9%;
    }
    .nav-bar .menu {
        display: none;
    }
    .content {
        height: 79%;
        width: 100%;
        flex-direction: column;
        overflow-y: scroll;
    }
    .section {
        width: 80%;
        margin: .75rem auto;
    }
    .section table tbody tr td {
        font-size: .77rem;
        text-align: left;
    }
    .section table thead tr td {
        font-size: .9rem;
    }
    .foot p {
        font-size: .85rem;
        height: 10%;
    }
}
@media(min-width:43.875rem) and (max-width:50rem) {
    body hr {
        display: none;
        overflow-x: hidden;
    }
    .nav-bar {
        width: 100%;
        height: 10%;
        border-bottom: 1px solid var(--white);
    }
    .menu {
        display: none;
    }
    .content {
        flex-direction: column;
        height: 80%;
        width: 75vw;
        overflow-y: scroll;
        scroll-snap-stop: initial;
        padding: 0;
        margin: 0 auto;
    }
    .section {
        width: 55vw;
        height: 70vh;
        margin: .7rem auto;
        padding: 0;
    }
    .section table thead tr td,
    .section table tbody tr td {
        font-size: .9em;
    }
    .foot {
        border-top: 1px solid var(--white);
        height: 10%;
        width: 100%;
    }
}
@media(min-width:50rem) and (max-width:84.375rem) {
    table {
        width: 85%;
        margin-left: .25rem;
    }
    .section table thead tr td {
        font-size: .9rem;
        text-align: left;
    }
    .section table tbody tr td {
        font-size: .9rem;
        text-align: left;
    }
}
