@charset "UTF-8";

:root {
    --white: #fff;
    --half-black: rgba(0,0,0,.68);
    --softBlue: #32C5FF;
    --softGray: #979797;
}

/*Input Padrao*/
input {
    border-radius: 6px;
    border: 1px solid var(--white);
    background: #f0f2f5;

    height: 2rem;
}

label {
    color: var(--half-black);
    font-size: 0.8rem;
    margin-top: 1rem;
    width: 0;
    height: 0;
    opacity: 0;
}

/*Botoes Padrao*/
.add-btn {
    z-index: 10;

    height: 45px;
    width: 45px;

    position:absolute;

    left: 3rem;

    opacity: .78;
}

.add-btn:hover {
    opacity: 1;
}

.modal .actions {
    display: flex;
    justify-content: space-between;
    width: 80%;

    margin: 4rem auto;
}

.button {
    height: 40px;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    border: 1px solid var(--half-black);
    border-radius: 8px;

    opacity: .68;
}

.button:hover {
    opacity: 1;
}

.button.save {
    border-color: green;    
    color: green; 
    padding: 0 1rem;
}

.button.cancel {
    border-color:red;  
    color: red; 
    width: 120px;
}

/*Overlay*/
.modal-overlay.inactive {
    display: none;
}

.modal-overlay {
    background: var(--half-black);
    z-index: 50;

    position: fixed;

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
}

/*Modais*/
.modal {
    background: var(--white);
    border-radius: 12px;
    margin: 20vh auto;
    color: var(--half-black);
}

.modal.register {
    display: flex;
    flex-direction: column;

    position: relative;

    height: 16rem;
    width: 18rem;
}

.modal.login {
    display: flex;
    flex-direction: column;

    background: var(--white);

    width: 18rem;
    max-width: 85%;
    height: 35vh;

    align-items: center;
    justify-content: center;
}

/*Formulario Refgistro*/
#registry-form {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    grid-template-areas: "tl tl tr"
                        "ml ml mr";
    justify-content: center;
    width: 80%;

    gap: 10px;
    margin: 1.75rem auto 0;
}

#registry-form #product-name {
    width: 8rem;
    grid-area: tl;
}

#registry-form #categories {
    width: 8rem;
    grid-area: ml;
}

#registry-form #product-quantity {
    width: 3rem;
    grid-area: tr;
}

#registry-form #product-expiration {
    width: 8rem;
    grid-area: mr;
}

.modal.register .actions {
    margin-top: .78rem;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.71rem;
}

.modal.login #login-form #user-name {
    width: 78%;
}

.modal.login div.actions {
    margin-top: .85rem;
}

#user-password {
    margin-top: .15rem;
    width: 58%;
}

@media(max-width: 1024px) {
    .add-btn {
        top: 78vh;
        left: 82vw;

        height: 65px;
        width: 65px;
    }
}