@charset "UTF-8";

:root {
    --white: #fff;
    --half-black: rgba(0,0,0,.68);
    --softBlue: #32C5FF;
    --softGray: #979797;
}

.content {
    display: flex;
    flex-direction: column;

    width: 95%;
    height: 75%;

    background: #111;
}

.content form {
    margin-left: .75rem;
}

.content form input {
    text-align: center;
    border: 1px solid rgba(0,0,0,0);

    margin: .75rem auto;
}

.content.actions {
    position: absolute;
    left: 25vw;
}

@media (min-width: 725px) {
    .content form {
        height: 65vh;
        display: block;
        align-items: center;
    }

    .content form input {
        position: absolute;
    }

    #email-first {
        top: 25vh;
        left: 10vw;
    }

    #email-second {
        top: 35vh;
        left: 10vw;
    }

    #nick1 {
        top: 25vh;
        left: 35vw;
    }

    #nick2{
        top: 35vh;
        left: 35vw;
    }    
}
